
svg {
    font-family: "Helvetica Neue", Helvetica;
  }
  
  .line {
    // fill: none;
    stroke: steelblue;
    stroke-width: 0.5px;
    
  }


  .top {
    stroke: red;
  }
  .bottom {
    stroke: blue;
     
  }

  